.DS_Store
xcuserdata/
xcshareddata/
*.xcworkspace
*.xccheckout
*.xcscmblueprint
DerivedData/
.idea/
*.swp
*.swo
*.lock

.build/
.swiftpm/
SourcePackages/
Package.pins

Pods/
Podfile.lock

Carthage/
Carthage/Checkouts/
Carthage/Build/

*.xcuserstate
*.mode1v3
*.mode2v3
*.pbxuser
*.xcassets/
*.xcworkspace/

playground.xcworkspace/
Timeline.xctimeline/
userdata/

*.dSYM
*.crash
*.log


.env
.secrets

build
RealTimeCutVADCXXLibrary/Frameworks/*.xcframework
